In [2]:
import pandas as pd
#Assign data
data={'Name':['Sai','Yuvasri','Poovannan',
'Sabharish','Sangamithra','Rithika','Rubasri'],
'Age':[20,18,19,20,18,17,19],
'Gender':['M','F','M','M','F','F','F'],
'Marks':[90,76,'NaN',74,65,'NaN',71]}
print(data)

{'Name': ['Sai', 'Yuvasri', 'Poovannan', 'Sabharish', 'Sangamithra', 'Rithika', 'Rubasri'], 'Age': [20, 18, 19, 20, 18, 17, 19], 'Gender': ['M', 'F', 'M', 'M', 'F', 'F', 'F'], 'Marks': [90, 76, 'NaN', 74, 65, 'NaN', 71]}

In [4]:
#convert into datafram
df=pd.DataFrame(data)
#display data
print("Original DataFrame:\n",df)
#convert average
c=avg=0
for ele in df['Marks']:
    if str(ele).isnumeric():
        c+=1
        avg+=ele
        avg/=c

Original DataFrame:
           Name  Age Gender Marks
0          Sai   20      M    90
1      Yuvasri   18      F    76
2    Poovannan   19      M   NaN
3    Sabharish   20      M    74
4  Sangamithra   18      F    65
5      Rithika   17      F   NaN
6      Rubasri   19      F    71

In [6]:
#Replace missing values
df=df.replace(to_replace="NaN",value=avg)
print(data)

{'Name': ['Sai', 'Yuvasri', 'Poovannan', 'Sabharish', 'Sangamithra', 'Rithika', 'Rubasri'], 'Age': [20, 18, 19, 20, 18, 17, 19], 'Gender': ['M', 'F', 'M', 'M', 'F', 'F', 'F'], 'Marks': [90, 76, 'NaN', 74, 65, 'NaN', 71]}

In [7]:
#Display data
print("\nReplacing NaN with average marks:\n",df)

Replacing NaN with average marks:
           Name  Age Gender      Marks
0          Sai   20      M  90.000000
1      Yuvasri   18      F  76.000000
2    Poovannan   19      M  20.066667
3    Sabharish   20      M  74.000000
4  Sangamithra   18      F  65.000000
5      Rithika   17      F  20.066667
6      Rubasri   19      F  71.000000

In [10]:
#Filter top scoring students
df=df[df['Marks']>=75]
print(df)

      Name  Age Gender  Marks
0      Sai   20      M   90.0
1  Yuvasri   18      F   76.0

In [11]:
#Remove age row
df=df.drop(['Age'],axis=1)
print(df)

      Name Gender  Marks
0      Sai      M   90.0
1  Yuvasri      F   76.0

In [12]:
#Display data
print("\nFiltering and Dropping func:\n",df)
print(df)

Filtering and Dropping func:
       Name Gender  Marks
0      Sai      M   90.0
1  Yuvasri      F   76.0
      Name Gender  Marks
0      Sai      M   90.0
1  Yuvasri      F   76.0