In [2]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [9]:
import pandas as pd
emp=pd.Series(['Uma','Harsha','Sindhu','Nair'])
id=pd.Series([10,20,30,40])
Frame={'Emp':emp,'ID':id}
Result=pd.DataFrame(Frame)
print("\nSeries to DataFrame\n")
print(Result)

Series to DataFrame

      Emp  ID
0     Uma  10
1  Harsha  20
2  Sindhu  30
3    Nair  40

In [11]:
print("\n Extracting the second row \n")
print(Result)

 Extracting the second row

      Emp  ID
0     Uma  10
1  Harsha  20
2  Sindhu  30
3    Nair  40

In [16]:
Result['Age']=pd.Series([20,18,20,50])
print(Result)

      Emp  ID  Age
0     Uma  10   20
1  Harsha  20   18
2  Sindhu  30   20
3    Nair  40   50

In [17]:
del Result['Age']
print(Result)

      Emp  ID
0     Uma  10
1  Harsha  20
2  Sindhu  30
3    Nair  40

In [19]:
print("Slice Row\n",Result[1:3])

Slice Row
       Emp  ID
1  Harsha  20
2  Sindhu  30

In [20]:
print("\n Extracting the second row \n")
print(Result.loc[1])

 Extracting the second row

Emp    Harsha
ID         20
Name: 1, dtype: object

In [ ]:
a2=pd.DataFrame([['Uma',10],['Harsha',20]],column=['Emp',ID])
print('\n Adding new row values \n\n',pd.connt6ac)